<footer class="container">
  <hr>
  <br>
  <p class="float-right"><a href="#">Terug naar boven</a></p>
  <p>© 2021 Joshua Gort · <a href="mailto:joshua.prive@gmail.com">Contact</a></p>
</footer>
<br>

